/* Some CSS for a little style */

.content {
    background:white;
    padding: 10px 20px;
    color: #444;
    font-family: 'Roboto', sans-serif;
    text-align:left;
    vertical-align:middle;
}
        
.title_bar {
    background-color: #1474cd;
    padding: 1px 15px 1px 15px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.contain_form {
    vertical-align:middle;
    text-align:left;
    padding:24px;
}

.list-options li {
    display: inline;
    padding: 0 12px;
    list-style: none;
}

tr {
    padding: 0 40px;
}
th {
    padding: 10px 20px;
}

h1 {
    padding:5px 0;
}
h2 {
    padding:0px;
}
h3 {
    padding:0px;
}
h4 {
    padding:2px;
}

p {
    padding:5px 0;
}

canvas {
    position:absolute; 
    top:614px; 
    left:40px;
    z-index:100;
} 
video {
    position:relative;
    z-index:-1;
}
.segments body {
    padding: 0; 
    margin: 0;
} 
.segments form {
    position: absolute;
    top: 640px;
}
#add-button {
    margin-left:360px;
}
.errors {
    color:red;
}
.error {
    border: 1px solid red;
}

.results img {
    display: inline;
    max-width:220px;
}
.holdimages {
    float: right;
    margin: 0 20px 0 20px;
}
.results p {
    font-size: 14px;
}
.results canvas {
  vertical-align:top;
  position:absolute;
  z-index:-1;
  top:26px;
} 
.content {
  background:white;
  padding: 0px 0px;
  color: #444;
  font-family: 'Roboto', sans-serif;
  text-align:left;
  vertical-align:middle;
}
    
.title_bar {
  background-color: #1474cd;
  padding: 1px 10px 1px 10px;
  color: white;
  font-size:12px;
  font-family: 'Ubuntu', sans-serif;
}

#backlink {
  position: absolute;
  top:20px;
  right: 30px;
  color: white;
  font-size:20px;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
}